
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunGym</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <style>

        .btn-primary {
            background-color: #007bff;
            border: none;
            padding: 10px;
            border-radius: 5px;
            width: 20%;
            font-size: 16px;
        }

            .btn-secondary {
                background-color: #007bff;
                border: none;
                padding: 10px;
                border-radius: 5px;
                width: 20%;
                font-size: 16px;
            }

        .btn-primary:hover {
            background-color: #c323c8;
        }

    </style>
</head>
<body style="background-image: url('../../images/Login/Fondo.jpg'); background-size: cover; background-position: center;">
    <div class="text-center">
        <br>
        <br>
        <img src="~/Images/Login/logo.jpg" style="width: 20%;" />
        <div class="text-center">
            <h3 style="color: aliceblue;">RUNGYM</h3>
        </div>
        <br>
        <div class="button-container mb-3">
            <a href="@Url.Action("Registro", "Login")" class="btn btn-primary">Crear mi programa de entrenamiento</a>

        </div>
        <a href="@Url.Action("Login", "Login")" class="btn btn-secondary">Ya tengo mi cuenta</a>
        <div class="footer-text">
            <br>
            <p style="color: darkorange;">Al continuar, Aceptas nuestros <a href="terminos.html">términos de uso</a> y nuestra <a href="privacidad.html">política de privacidad</a></p>
            <p style="color: darkorange;">¿Necesitas ayuda? <a href="contactanos.html">Contáctanos</a></p>
        </div>
    </div>
</body>
</html>
